<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/masterPage}">
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập</title>
</head>
<body>
    <th:block layout:fragment="content">
        <h1>Đăng nhập</h1>
        <form action="#" th:action="@{/home/login}" method="post" th:object="${login}">
            <input type="text" th:field="*{username}" class="form-control"><br>
            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Lỗi tài khoản</p>
            <input type="text" th:field="*{password}" class="form-control"><br>
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Lỗi mật khẩu</p>
            <button class="btn btn-primary">Đăng nhập</button>
        </form>
    </th:block>
</body>
</html>